div.container-fluid.conteudo-header{
	background-image: url("../try2.png");
	height: 300px;
	background-size: cover;
	background-blend-mode: overlay;
	background-position: center;
	background-repeat: no-repeat; 
}

nav.navbar.navbar-custom{
	padding-top: 8px;
}

.navbar li.nav-item a.nav-link,
.navbar a.navbar-brand
{
	color: white;
	text-shadow: 1px 1px 6px black;
	font-size: 1.6vw;
	font-family: 'Roboto Slab', serif;
}

.navbar li.nav-item a:hover.nav-link,
.navbar li.nav-item a:focus.nav-link,
.navbar li.nav-item a:active.nav-link
{
	color:#DAA520;
}

div.brandname{
	color: white;
	font-family: 'Roboto Slab', serif;
	text-shadow: 1px 1px 6px black;
	margin-top: 12px;
	font-size: 4vw;
	text-align: center;
}

div.container-fluid.conteudo-main{
	height: 530px;
	background-color: #e4a757;
}

h2.text-center.cof-values{
	padding-top: 40px;
	font-family: 'Roboto Slab', serif;
}

p.text-center.cof-values{
	font-family: 'Roboto Slab', serif;
}


p.text-center.final.cof-values{
	margin-bottom: 30px;
}

.imagemenu div img{
	box-shadow: 3px 0px 3px black;
	width: 100%;
	height: 100%;
}

div.imagemenu{
	margin-bottom: 20px !important;
}

.imagemenu div p{
	top: 230px;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2vw;
}

div.d-flex.flex-column
{
	width: 70%;
	margin:auto;
}

@media (min-width: 992px) and (max-width: 1024px){
	div.d-flex.flex-column
	{
		width: 70%;
		margin:auto;
	}
	.navbar li.nav-item a.nav-link,
	.navbar a.navbar-brand
	{
		font-size: 1.9vw;
	}
	div.container-fluid.conteudo-main{
		height: 440px;
	}
	
}


@media (min-width: 768px) and (max-width: 991.98px) {
	div.brandname{
		font-size: 6vw;
	}

	.navbar li.nav-item a.nav-link,
	.navbar a.navbar-brand
	{
		font-size: 3.1vw;
	}

	div.container-fluid.conteudo-header{
		height: 270px;
		
	}

	div.container-fluid.conteudo-main{
		height: 390px;
	}
}

@media (min-width: 320px) and (max-width: 767.98px) {
	div.brandname{
		font-size: 10vw;
		margin-top: 2px;
	}

	div.d-flex.flex-column
	{
		width: 50%;
		margin:auto;
	}

	.navbar li.nav-item a.nav-link,
	.navbar a.navbar-brand
	{
		font-size: 6vw;
		margin: auto;
	}

	div.container-fluid.conteudo-header{
		height: 270px;
		
	}

	.imagemenu div p{
		font-size: 4vw;
	}
	div.container-fluid.conteudo-main{
		height: 1000px;
	}
 }