div.container-fluid.conteudo-header{
	background-image: url("../try2.png");
	height: 300px;
	/*border: 1px black;
	border-style: solid;
  	border-width: 5px black; */
	background-size: cover;
	background-blend-mode: overlay;
	background-position: center;
	background-repeat: no-repeat; 
}

nav.navbar.navbar-custom{
	height: 40px;
	padding-top: 40px;
}

.navbar li.nav-item a.nav-link,
.navbar a.navbar-brand
{
	color: white;
	text-shadow: 1px 1px 6px black;
	font-size: 1.6em;
	font-family: 'Roboto Slab', serif;
}

.navbar li.nav-item a:hover.nav-link,
.navbar li.nav-item a:focus.nav-link,
.navbar li.nav-item a:active.nav-link
{
	color:#DAA520;
}

div.brandname{
	color: white;
	font-family: 'Roboto Slab', serif;
	text-shadow: 1px 1px 6px black;
	margin-top: 35px;
	font-size: 4vw;
	text-align: center;
}

div.container-fluid.conteudo-main{
	height: 630px;
	/*border: 1px black;
	border-style: solid;*/
	background-color: #e4a757;
}

h2.text-center{
	padding-top: 40px;
	font-family: 'Roboto Slab', serif;
}

p.text-center{
	font-family: 'Roboto Slab', serif;
}

.col-lg-3 .card-img-top{
	width: 300px;
	height: 300px;
	box-shadow: 0px 0px 6px black;
	
} 

p.text-center.final{
	margin-bottom: 30px;
}

div.col-lg-3{
	text-align: center;
}

div.col-lg-3 div.description{
	margin-top: 10px;
	font-family: 'Roboto Slab', serif;
	font-size: 1.3vw;
}