/*Parte do header*/
div.container-fluid.conteudo-header{
	background-image: url("../try2.png");
	height: 300px;
	background-size: cover;
	background-blend-mode: overlay;
	background-position: center;
	background-repeat: no-repeat; 
}

nav.navbar.navbar-custom{
	padding-top: 8px;
}

.navbar li.nav-item a.nav-link,
.navbar a.navbar-brand
{
	color: white;
	text-shadow: 1px 1px 6px black;
	font-size: 1.6em;
	font-family: 'Roboto Slab', serif;
}

.navbar li.nav-item a:hover.nav-link,
.navbar li.nav-item a:focus.nav-link,
.navbar li.nav-item a:active.nav-link
{
	color:#DAA520;
}

a.brand-link{
	text-decoration: none;
}

div.brandname{
	color: white;
	font-family: 'Roboto Slab', serif;
	text-shadow: 1px 1px 6px black;
	margin-top: 12px;
	font-size: 3.5em;
	text-align: center;
}

/*Conteudo do meio*/

div.container-fluid.conteudo-main{
	height: 660px;
	background-color: #e4a757;
	background-image: url("../bck-L.png");
	background-size: cover;
}

h2.text-center.cof-values{
	padding-top: 40px;
	font-family: 'Roboto Slab', serif;
}

p.text-center.cof-values{
	font-family: 'Roboto Slab', serif;
}


p.text-center.final.cof-values{
	margin-bottom: 30px;
}

.imagemenu div img{
	/*box-shadow: 2px 2px 2px #ac6509;*/
	width: 100%;
	height: 100%;
	object-fit:cover;
	float: left;
	margin: auto;
	position: relative;
	border-style: solid;
	border-width: 1px;
}

div.imagemenu{
	margin-bottom: 20px !important;
}

.imagemenu div p{
	top: 230px;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
}

div.d-flex.flex-column
{
	width: 65%;
	margin:auto;
}

.row.linha-conteudo{
	padding-top: 120px;
}

/*Parte do conteudo main 2222*/
div.container-fluid.conteudo-main2{
	height: 450px;
	background-color: #ffffff;
	
	}

div.text-gps div.texto-lol{
	margin: auto;
}

div.text-gps div.texto-lol h2{
	font-size: 2.5em;
	color: white;
	font-family: 'Roboto Slab', serif;
	padding-bottom: 30px;
	text-shadow: 1px 1px 6px black;
}

div.text-gps div.texto-lol p{
	font-size: 1.4em;
	color: white;
	font-family: 'Roboto Slab', serif;
	text-shadow: 1px 1px 6px black;
}

div.text-gps{
	background-image: url("../bkg3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
}

div.image-gps{
	background-color: #7b4427;
}

div.image-gps div.d-flex div.googlemaps{
	border-style: solid;
	border-width: 1px;
	object-fit:cover;
	float: left;
	position: relative;
	
  }
/*Conteudo de midia para dar resize nas screens diferentes*/

@media (min-width: 1025px) and (max-width: 1250px) {
	div.d-flex.flex-column
	{	
		width: 70%;
		margin:auto;
	}
	div.container-fluid.conteudo-main{
		height: 590px;
	}

	.row.linha-conteudo{
		padding-top: 100px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	div.d-flex.flex-column
	{	
		width: 70%;
		margin:auto;
	}
	div.container-fluid.conteudo-main{
		height: 500px;
		background-image: url("../bck-M.png");
	}

	.row.linha-conteudo{
		padding-top: 50px;
	}

	h2.text-center.cof-values{
		font-size: 1.4em;
	}
	
	p.text-center.cof-values{
		font-size: 1em;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	div.d-flex.flex-column
	{	
		width: 30%;
		margin:auto;
	}
	div.brandname{
		font-size: 2.5em;
		
	}
	div.container-fluid.conteudo-main{
		height: 1050px;
		background-image: url("../bck-S.png");
	}

	.row.linha-conteudo{
		padding-top: 47px;
	}
 }

 @media (max-width: 575.98px) {
	.row.linha-conteudo{
		padding-top: 44px;
	}
	
	div.d-flex.flex-column
	{	
		width: 40%;
		margin:auto;
	}
	div.brandname{
		font-size: 2.5em;
		
	}
	div.container-fluid.conteudo-main{
		height: 1100px;
		background-image: url("../bck-S.png");
	}
  }